.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}
.footer {
    text-align: center;
    margin: 3%;
    font-weight: 300;
    font-size: small;
}
@media only screen and (max-width: 600px)  {
    .container{
        flex-direction: column;
        justify-content: center;
    }
}