* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { font-size: 16px; }
@media screen and (max-width: 600px){
  html { font-size: 14px }
}
@media screen and (max-width: 768px){
  html { font-size: 15px }
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body{
  background: #e9eaed;
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
}

.App{
  width: 90%;
  margin: 0 auto;
}

a:hover {
  color: #5f9ea0;
}